@value sirDPurple, sirDgray from 'styles/theme.css';

.tableHeader span {
  font-weight: 700;
}

.tableFileRow {
  padding: 15px 10px;
}

.tableFileRow label {
  display: block;
  width: 200px;
  padding: 10px 0;
  border: 2px solid sirDPurple;
  font-weight: 600;
  color: sirDgray;
  text-align: center;
  cursor: pointer;
}

.tableFileRow input[type='file'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
