@value sirDPurple, sirDgray,sirTableBorderColor from 'styles/theme.css';

.tableHeader span {
  font-weight: 700;
}

.tableFileRow {
  display: flex;
  padding: 15px 10px;
}

.tableFileRow label {
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px 0;
  border: 2px solid sirDPurple;
  font-weight: 600;
  color: sirDPurple;
  text-align: center;
  cursor: pointer;
}

.tableFileRow input[type='file'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.tabelFileCol {
  display: flex;
  padding-left: 20px;
}

.deleteBtn {
  border: 1px solid sirTableBorderColor;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 20px;
  outline: 0;
  background: none;
}
