@value sirMGray, sirLGray, sirGray from 'styles/theme.css';

.categories {
  padding-right: 10px;
}

.categories li:not(:first-child) {
  padding-top: 1.5rem;
}

.categories li:first-child {
  padding-top: 0.2rem;
}

.checkedCategories :not(:last-child) {
  padding-bottom: 1rem;
}

.message {
  color: sirMGray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3D(-50%, -50%, 0);
  white-space: nowrap;
}

.productName {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  height: 87px;
}

.productName > span,
.productName > label {
  flex-basis: 25%;
  width: 25%;
}

.productName > label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  background-color: sirLGray;
  height: 100%;
  border-right: 2px solid sirGray;
}

.a11yInput {
  margin-left: 10px;
  flex-basis: 50%;
  width: 50%;
}

.relative {
  position: relative;
}

.center {
  display: flex;
  align-items: center;
}
