.gridContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}
.gridItem {
  flex-direction: row;
}

.gridCenter {
  justify-content: center;
}

.space > .gridItem {
  padding-top: 5px;
  padding-left: 5px;
}

.space {
  padding-right: 5px;
  padding-bottom: 5px;
}
