.gridContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}
.gridItem {
  flex-direction: row;
}

.gridCenter {
  justify-content: center;
}

@for $i from 1 to 12 {
  .space#{$i} {
    padding-right: ($i * 2px);
    padding-bottom: ($i * 2px);
  }
  .space#{$i} > .gridItem {
    padding-top: ($i * 2px);
    padding-left: ($i * 2px);
  }
}
