@value sirGray from "styles/theme.css";

.selectDate {
  display: inline-block;
  width: 230px;
  height: 50px;
  font-size: 15px;
  border: none;
  top: 5px;
}

.i {
  position: absolute;
  top: 30px;
  right: 15px;
  color: sirGray;
}

.datePickerWrapper {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 30px;
}

.miniWrapper {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 30px;
}
