@value sirDPurple, sirPurple, sirLGray, sirGray, sirDgray, sirRed, sirShadow from "styles/theme.css";

.table {
  margin-top: 50px;
}
.headSection {
  display: flex;
  justify-content: space-between;
}

.addBtn {
  border: 1px solid sirDPurple;
  border-radius: 3px;
  height: 30px;
  background: none;
}

.addBtn i {
  font-size: 3px;
}

.innerSection {
  width: 100%;
  margin: auto;
  border: 1px solid sirGray;

  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.delete {
  width: 50px;
  border: 1px solid sirRed;
  border-radius: 3px;
  height: 30px;
  background: none;
}
