@value sirDPurple, sirPurple, sirLGray, sirGray, sirDgray, sirRed, sirShadow from "styles/theme.css";

* {
  box-sizing: border-box;
}

.table {
  margin-top: 50px;
}
.headSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0px;
}

.headSection span:last-child {
  color: sirDPurple;
}

.addBtn {
  border: 1.5px solid sirDPurple;
  border-radius: 3px;
  height: 55px;
  width: 140px;
  background: none;
  cursor: pointer;
}

.addBtn label {
  cursor: pointer;
}

.addBtn i {
  font-size: 3px;
}

.innerTable {
  margin: auto;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.delete {
  width: 50px;
  border: 1px solid sirRed;
  border-radius: 3px;
  height: 30px;
  background: none;
}

.innerSection {
  width: 100%;
  border: 1px solid sirGray;
  padding: 20px;
  margin: auto;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: sirGray;
  border-radius: 3px;
  height: 250px;
}

.form input {
  display: none;
}
