@value sirBorderRadiusM, sirDPurple, sirTableBorderColor from "styles/theme.css";

.gridInner {
  padding: 14px 20px;
  background: #fff;
}

.rightBox {
  display: flex;
  justify-content: flex-end;
}

.deleteBtn {
  margin-bottom: 5px;
  padding: 5px 10px;
  border: 2px solid sirTableBorderColor;
  border-radius: sirBorderRadiusM;
  color: #838383;
  background: none;
  outline: none;
  text-align: center;
  cursor: pointer;
}

.inputTitle {
  display: flex;
  align-items: center;
  color: sirDgray;
  font-weight: 600;
}

.input {
  width: 100%;
  margin-bottom: 7px;
  padding: 10px 5px;
  border: 2px solid sirTableBorderColor;
  border-radius: sirBorderRadiusM;
  cursor: pointer;
}

.box {
  width: 100%;
  margin-bottom: 10px;
}

.plusBtn {
  width: 100%;
  margin-top: 10px;
  padding: 10px 0;
  border: 2px solid sirTableBorderColor;
  border-radius: sirBorderRadiusM;
  outline: 0;
  background: transparent;
  font-size: 17px;
  font-weight: 700;
  color: sirDPurple;
  cursor: pointer;
}
