@value sirPurple, sirGray, sirDgray from "styles/theme.css";

.table{
  margin-top: 30px;
  border: 1px solid sirGray;
}

.tableHeader span{
  font-weight: 700;
}

.tableRowFile{
  padding: 15px 10px;
}

.tableRowFile label{
  display: block;
  width: 200px;
  padding: 10px 0;
  border: 2px solid sirPurple;
  color: sirDgray;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.tableRowFile input[type='file']{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}