@value sirBlue, sirLPurple,sirPurple, sirShadow from "styles/theme.css";

.switchBtn {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 18px;
  margin: 3px 0px;
}
.switchBtn input {
  opacity: 0;
  width: 0;
  height: 0;
}
.onOffSwitch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: #9f9f9f;
  transition: 0.4s;
}
.onOffSwitch:before {
  position: absolute;
  content: '';
  height: 23px;
  width: 23px;
  left: 0px;
  bottom: -2px;
  background-color: white;
  box-shadow: 3px 3px 5px 0px rgba(66, 66, 66, 1);
  transition: 0.4s;
  border-radius: 20px;
}

.switchBtn input:checked + .onOffSwitch {
  background-color: sirLPurple;
}
.switchBtn input:checked + .onOffSwitch:before {
  transform: translateX(24px);
  background-color: sirBlue;
}
