@value sirLGray, sirTableBorderColor, sirTablePd, m from 'styles/theme.css';

.center {
  display: flex;
  align-items: center;
}

:global(.tableItem).tableLabel {
  padding: sirTablePd;
  background: sirLGray;
}

@for $i from 1 to 21 {
  .pd#{$i} {
    padding: ($i * 2px);
  }
}
