@value sirTableBorderColor from 'styles/theme.css';

.table {
  border-right: solid sirTableBorderColor 2px;
  border-bottom: solid sirTableBorderColor 2px;
}

.table :global(.tableItem) {
  border-top: solid sirTableBorderColor 2px;
  border-left: solid sirTableBorderColor 2px;
}
