@value desktop from 'styles/theme.css';
@value menuWidth: 213px;

.main {
  max-width: desktop;
  margin: 0 auto;
}

.menu {
  width: menuWidth !important;
  flex-basis: menuWidth !important;
}

.gridContents {
  width: calc(100% - menuWidth) !important;
  flex-basis: calc(100% - menuWidth) !important;
}

.gridCenter {
  justify-content: center;
}

@media screen and (max-width: desktop) {
  .menu {
    display: none;
  }

  .gridContents {
    width: 100% !important;
    flex-basis: 100% !important;
  }
}
